.modal-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2000;
}

.modal-main {
  position: fixed;
  background: white;
  min-width: 600px;
  min-height: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  align-self: center;
}

.dialog-header {
  color: white;
}
